h1{
    background-color: lightgreen;
    margin: 0px;
    height: 50px;
    text-align: center;
}
body{
    margin: 0px;
}
#flex-box-1{
    text-align: center;
    margin: 0px;
}
nav{
    background-color: black;
    padding: 20px;
}
a{
    color: white;
    margin: 4%;
    flex-wrap: wrap;
    text-decoration: none;
}
h2{
    text-align: center;
    border: 2px solid black;
    background-color: lightgreen;
    margin: 0px;
}
h4{
    border-radius: 2px;
    padding: 2px;
    border: 2px solid black;
    margin: 0px
}
footer{
    text-align: center;
    background-color:lightgreen;
    border: 2px solid black;
    padding:30px
}
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}
.carousel-cell {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
  
  /* cell number */ 
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
